/*selected tag{
    property: value;
}*/

body{
    /* background-color: gray; */
    background:  url(https://www.darpa.mil/DDM_Gallery/vtol-xplane-619-316.jpg);
}

#top{
    border: 4px solid blue;
    width: 25%;
    text-align: center;
    margin: auto;
}

#bottom{
    border: 4px solid rebeccapurple; 
    widows: 50%;
    padding:  200px;
    text-align: center;
}