/*selected tag{
    property: value;
}*/

body{
    /* background-color: gray; */
    background:  url(https://www.darpa.mil/DDM_Gallery/vtol-xplane-619-316.jpg);
}

div{
    background-color: green;
    border-color: red;
    border-width: 1px;
    border-style: dotted;
}